ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
node-linker="hoisted"
FFMPEG_BINARIES_URL=https://github.com/renmu123/ffmpeg-static/releases/download
FFPROBE_BINARIES_URL=https://github.com/renmu123/ffmpeg-static/releases/download