name: build and push docker

on:
  push:
    tags:
      - "*"
  workflow_dispatch:

jobs:
  build:
    if: github.event_name == 'push'
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        service: [frontend, backend, fullstack]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push ${{ matrix.service }} image
        uses: docker/build-push-action@v6
        if: matrix.service != 'fullstack'
        with:
          file: ./docker/Dockerfile
          target: ${{ matrix.service }}
          platforms: linux/amd64,linux/arm64
          push: true
          cache-from: type=gha,scope=${{ matrix.service }}
          cache-to: type=gha,mode=max,scope=${{ matrix.service }}
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/bililive-tools-${{ matrix.service }}:latest
            ${{ secrets.DOCKER_USERNAME }}/bililive-tools-${{ matrix.service }}:${{ github.ref_name }}

      - name: Build and push fullstack image
        uses: docker/build-push-action@v6
        if: matrix.service == 'fullstack'
        with:
          file: ./docker/Dockerfile
          target: fullstack
          platforms: linux/amd64,linux/arm64
          push: true
          cache-from: type=gha,scope=fullstack
          cache-to: type=gha,mode=max,scope=fullstack
          build-args: |
            VITE_DEFAULT_SERVER=/api
            VITE_FULLSTACK=true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/bililive-tools:latest
            ${{ secrets.DOCKER_USERNAME }}/bililive-tools:${{ github.ref_name }}

  manual-build:
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [frontend, backend, fullstack]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push ${{ matrix.service }} image
        uses: docker/build-push-action@v6
        if: matrix.service != 'fullstack'
        with:
          file: ./docker/Dockerfile
          target: ${{ matrix.service }}
          platforms: linux/amd64,linux/arm64
          push: true
          cache-from: type=gha,scope=${{ matrix.service }}
          cache-to: type=gha,mode=max,scope=${{ matrix.service }}
          tags: ${{ secrets.DOCKER_USERNAME }}/bililive-tools-${{ matrix.service }}:test

      - name: Build and push fullstack image
        uses: docker/build-push-action@v6
        if: matrix.service == 'fullstack'
        with:
          file: ./docker/Dockerfile
          target: fullstack
          platforms: linux/amd64,linux/arm64
          push: true
          cache-from: type=gha,scope=fullstack
          cache-to: type=gha,mode=max,scope=fullstack
          build-args: |
            VITE_DEFAULT_SERVER=/api
            VITE_FULLSTACK=true
          tags: ${{ secrets.DOCKER_USERNAME }}/bililive-tools:test
